<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902645849846-6d56fmhmhq4s1a883oe74lcdp1nmffn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902645849846-6d56fmhmhq4s1a883oe74lcdp1nmffn7</string>
	<key>API_KEY</key>
	<string>AIzaSyC34FcBu-BX_-J_PZLcZMCGjdtWNThpjEc</string>
	<key>GCM_SENDER_ID</key>
	<string>902645849846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workersTasks</string>
	<key>PROJECT_ID</key>
	<string>workers-tasks</string>
	<key>STORAGE_BUCKET</key>
	<string>workers-tasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902645849846:ios:6c1d705aedb03d432496d7</string>
</dict>
</plist>